.bloco {
    width: 200px;
    height: 100px;
    border: red solid 1px;
overflow: auto;
display: inline-block;}

    #container{
        border: black 3px solid;
        width: 80%;
        margin: 0 auto;
    }
   .azul{
    background-color: rgb(114, 160, 239);
   }
   .vermelho{
    background-color: rgb(248, 37, 37);
   }
   .amarelo{
    background-color: rgb(190, 251, 66);
   }
   .verde{
    background-color: rgb(29, 209, 29);
   }